
<link rel="stylesheet" href="/stylesheets/footer.css">

<div class="footer">
    <h1><u>Follow Us</u></h1>
   
    <div class="connections">
       <div class="circle circle1">
          <a href="https://www.facebook.com/" target="_blank"><i class="ri-facebook-fill"></i></a> 
       </div>
       <div class="circle circle2">
           <a href="https://www.instagram.com/" target="_blank"><i class="ri-instagram-line"></i></a>
       </div>
       <div class="circle circle3">
           <a href="https://www.whatsapp.com" target="_blank"><i class="ri-whatsapp-line"></i></a>
       </div>
       <div class="circle circle4">
         <a href="https://twitter.com/" target="_blank"><i class="ri-twitter-fill"></i></a>  
       </div>
    </div>
    <p>FINDER (India) DATING WEBSITE @ All Rights Reserved</p>
   
    <div class="copyright">
       <h1><i class="ri-copyright-line"></i> 2023 FINDER.COM All Rights Reserved</h1>
       <h3>Privacy Policy &nbsp; Terms And Conditions</h3>
    </div>


</div> 
</body>
</html>

