
<link rel="stylesheet" href="/stylesheets/footer2.css">

<div class="pg6">
    <div class="pg6-box1 box">
      <a href="/about"><h5>About Finder</h5></a> 
      <a href=""><h5>Finder Tips</h5></a>
      <a href="/blog"><h5>All Tips</h5></a>
      <a href="/successstorypg"><h5>Success Stories</h5></a>
    </div>
    <div class="pg6-box2 box">
      <a href=""><h5>Safety Tips</h5></a>
      <a href=""><h5>Terms & Conditions</h5></a>
      <a href=""><h5>Privacy Policy</h5></a>
      <a href=""><h5>Help</h5></a>
      <a href=""><h5> Free Dating Site</h5></a>
    </div>
    <div class="pg6-box3 box">
      <a href=""><h5>Senior Dating</h5></a>
      <a href=""><h5>Christian Dating</h5></a>
      <a href="/relationshipspg"><h5>Relationship Advice</h5></a>
      <a href="/lovesexpg"><h5>Love & Sex Advice</h5></a>
      <a href="/scienceDatingpg"><h5>Science Of Dating</h5></a>
      <a href=""><h5>Indian Dating</h5></a>
      <a href=""><h5>Gay Dating Site</h5></a>
      <a href=""><h5>Lesbian Dating Site</h5></a>
    </div>
    <div class="pg6-box4 box">
      <a href=""><h5>Local Dating</h5></a>
      <a href=""><h5>Finding Yourself</h5></a>
      <a href="/datingtips"><h5>Dating Tips</h5></a>
      <a href=""><h5>Getting to Know</h5></a>
      <a href=""><h5>Attraction</h5></a>
      <a href=""><h5>Commitment</h5></a>
      <a href=""><h5>Relationship Issues</h5></a>
      <a href=""><h5>Break Up</h5></a>
      <a href=""><h5>2023 Happiness Index</h5></a>
      
  
  
    </div>
  
  </div>
  












</body>
</html>