<nav>
    <div class="logo">
        <h1>MATCH MINGLE</h1>
        <h6><i class="ri-heart-pulse-fill"></i></h6>
    </div>

    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About us</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/blog">Blogs</a></li>

    </ul>
    <div class="navbtns">
        <button class="loginbtb"><a href="/login">LogIn</a></button>
    </div>
   
</nav>