<%- include("partials/header")%>
<%- include("partials/nav")%>

<link rel="stylesheet" href="/stylesheets/about.css">


<div class="aboutpg">

<div class="aboutpg-head">
    <h1>ABOUT US</h1>
</div>

<div class="aboutbox">
    <div class="aboutpg-left">
        <div class="img1"></div>
        <div class="img2"></div>
       

    </div>
    <div class="aboutpg-right">
       <p class="para1">At <span>MATCH MINGLE💕</span> we believe that love has the power to transform lives. Our mission is to bring people together, helping them find meaningful connections, lasting relationships, and, ultimately, their soulmates.</p>

       <p class="para2">Whether you're seeking a lifelong partner, a new friend, or someone to share life's adventures with, <SPAn>MATCH MINGLE💕</SPAn> is here for you. Join us today and start your journey towards meaningful connections, love, and happiness.</p>
    </div>
</div>


</div>

<div class="aboutpg2">
    <div class="aboutpg2-head">
        <h1>The TEAM behind MATCH MINGLE💕</h1>
    </div>
    
    <p>We’re not a huge corporation – just a group of people like you. Our team is mostly women coming from more than 20 countries, so we get how challenging dating can be! That’s what motivated us to create a truly game-changing dating website. </p>
    <div class="imgbox"></div>
</div>

<div class="vision">
    <h1>OUR VISION</h1>
    <p>We envision a world where love knows no boundaries, where every person has the opportunity to find their perfect match, and where relationships are built on trust, respect, and genuine connection. We're committed to making this vision a reality, one meaningful connection at a time.</p>
</div>








<%- include("partials/footer2")%>
<%- include("partials/footer")%>
