
<%- include("partials/nav")%>
<%- include("partials/header")%>

<link rel="stylesheet" href="/stylesheets/blog.css">

<div class="blogpgintro">
<h1>THE <br>CONNECTIONS</h1>
<p>Dating advice and fun ideas from our love and relationship writers. <br>
    Check out these articles and date with confidence!</p>
</div>


<div class="advicesbox">

<div class="advicenavbar">
    <a href="/blog">All Tips</a>
    <a href="/datingtips">Dating Tips</a>
    <a href="/relationshipspg">Relationship Advice</a>
    <a href="/lovesexpg">Love & Sex</a>
    <a href="/scienceDatingpg">Science Of Dating</a>
    <a href="/successstorypg">Success Stories</a>
</div>

<div class="tipsbox">
    <div class="tipsbox1 tips">
<img src="https://media.istockphoto.com/id/1423525277/photo/cheerful-couple-having-coffee-outdoors.jpg?s=612x612&w=0&k=20&c=w8IemAyzIVFzCRoAST0bd5zajTA_BYC1Cy6eXDX-9OA=" alt="">
<h2>Master the Art of talking to Girls</h2>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo animi dolorum, aliquid fuga id molestiae quidem delectus placeat cum laudantium molestias soluta quia nisi voluptates officiis consequuntur at temporibus! Sint laudantium commodi tempora vitae, laborum labore ab exercitationem explicabo consequatur. Lorem ipsum dolor sit amet.</p>
    </div>

    <div class="tipsbox2 tips">
        <img src="https://images.unsplash.com/photo-1514845994104-1be22149278b?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDR8fHxlbnwwfHx8fHw%3D" alt="">
<h2>How to Flirt with a Girl and get a date</h2>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint veniam fugiat iusto repellendus quae facere omnis sequi, numquam minus facilis, cum voluptas dolore incidunt iure dolorem! Quam fugiat, molestiae beatae corrupti Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, eveniet.</p>
    </div>

    <div class="tipsbox3 tips">

        <img src="https://images.unsplash.com/photo-1504447660567-77a0a12ebb75?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
        <h2>Is She the one? how will you know?</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim architecto deserunt sit! Quos temporibus aspernatur laborum beatae laudantium voluptas placeat ad rem sed eum autem, facilis distinctio nihil earum. Autem eum quis cum natus laborum est eligendi suscipit tempore nulla? </p>
    </div>

    <div class="tipsbox4 tips">

        <img src="https://images.unsplash.com/photo-1542338347-4fff3276af78?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDl8fHxlbnwwfHx8fHw%3D" alt="">
        <h2>How to ask a guy out even when you’re totally awkward</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, pariatur labore. Autem ipsa ullam facere ducimus possimus voluptas doloremque dicta unde mollitia maiores, dolorum vel deleniti corporis. Porro ratione est rem, qui aperiam quisquam corrupti, placeat ad cupiditate sed aspernatur?</p>
    </div>

    <div class="tipsbox5 tips">

 <img src="https://media.istockphoto.com/id/467706500/photo/young-happy-couple-kissing-in-the-park.webp?s=170667a&w=0&k=20&c=u7PxPyQk4jlmy0ofu6pC73yiD8IqoMCZROYtMDUuvMw=" alt="">
        <h2>Should You Kiss on the First Date?</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat ratione doloremque consequatur! Facere pariatur expedita deserunt, excepturi soluta est ratione ex cumque, placeat provident sint sapiente accusantium autem! Cum corrupti numquam facere magnam aliquam nobis, porro consequuntur vel quaerat neque. </p>
    </div>

    <div class="tipsbox6 tips">

        <img src="https://images.unsplash.com/photo-1439402702863-6434b61e6392?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDIwfHx8ZW58MHx8fHx8" alt="">
        <h2>When no response is a response how to know</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti laborum mollitia alias ullam est, ipsam corporis incidunt reprehenderit provident quasi voluptate consequuntur cum iste iusto dolore laboriosam, illo culpa, amet qui nisi quaerat impedit sed eveniet. Reiciendis dolor eius facilis?
            
           </p>
    </div>


</div>


</div>




<script src="/javascripts/blog.js"></script>


<%- include("partials/footer2")%>
<%- include("partials/footer")%>

