<link rel="stylesheet" href="/stylesheets/login.css">

<div class="pg1">
    <h1>LogIn Form</h1>
    <form action="/login" method="post">
        <input type="text" name="username" placeholder="Username">
        <!-- <input type="email" name="lemail" placeholder="Email"> -->
        <input type="password" name="lpassword" placeholder="Password" >
         <button class="login"> Login </button>
         <!-- <a href="/login" class="login">Login</a> -->

    </form>
    
   

   <p>Don't have an account? <a href="/register" class="register">Register Yourself</a></p>
</div>

<script src="/javascripts/signup.js"></script>