<%- include("partials/header")%>

<link rel="stylesheet" href="/stylesheets/blog.css">

<div class="blogpgintro">
<h1>THE <br>CONNECTIONS</h1>
<p>Dating advice and fun ideas from our love and relationship writers. <br>
    Check out these articles and date with confidence!</p>
</div>


<div class="advicesbox">

<div class="advicenavbar">
   <a href="/blog"class="allTips" >All Tips</a>
    <a href="/datingtips" class="dating">Dating Tips</a>
    <a href="/relationshipspg" class="relationships">Relationship Advice</a>
    <a href="/lovesexpg" class="love">Love & Sex</a>
    <a href="/scienceDatingpg" class="scienceDating">Science Of Dating</a>
    <a href="/successstorypg" class="successStories">Success Stories</a>
</div>

<div class="tipsbox">
    <div class="tipsbox1 tips">
<img src="https://hily.com/wp-content/uploads/2023/08/words-of-affirmation-love-language.jpg" alt="">
<h2>Words of affirmation how to make them into love language?</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam pariatur veritatis excepturi fuga sequi. Optio voluptas magni vero repellendus consequatur, voluptate libero necessitatibus quam harum error accusantium! Molestias, nisi magnam! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam, suscipit?</p>
    </div>

    <div class="tipsbox2 tips">
        <img src="https://hily.com/wp-content/uploads/2023/08/physical-touch-love-language.jpg" alt="">
<h2>Understanding physical touch love language</h2>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime deleniti voluptates, quam beatae totam similique officia, quo iure eos rem explicabo. Autem assumenda, ea corrupti doloribus laboriosam veniam praesentium doloremque voluptas. In sunt maiores quis error ipsam unde repellendus sit. Lorem ipsum dolor sit amet.</p>
    </div>

    <div class="tipsbox3 tips">

        <img src="https://hily.com/wp-content/uploads/2023/07/quality-time-love-language.jpg" alt="">
        <h2>Quality time – it’s also a love language</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat animi consequuntur eveniet delectus placeat neque ratione doloremque laudantium magnam voluptates sit aspernatur reprehenderit, quidem ipsum tenetur at cum dolor quasi enim blanditiis nihil ut, nisi assumenda eligendi! Recusandae, est. Aut! Lorem ipsum dolor sit amet.</p>
    </div>

    <div class="tipsbox4 tips">

        <img src="https://hily.com/wp-content/uploads/2023/07/do-opposites-attract.jpg" alt="">
        <h2>Do opposites attract? It’s not that simple</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur, soluta hic, culpa voluptatum suscipit quaerat voluptatibus nesciunt rerum velit blanditiis, officiis ea at accusantium ducimus. Laborum labore nam, itaque inventore consequatur odio quibusdam est debitis rerum asperiores voluptatibus aliquid dolores. </p>
    </div>

    <div class="tipsbox5 tips">

 <img src="https://hily.com/wp-content/uploads/2023/07/sexual-frustration.jpg" alt="">
        <h2>Sexual frustration – It’s  not fun</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt deleniti qui consequatur incidunt possimus suscipit. Nostrum ratione at porro doloremque facere corrupti non nihil impedit est minus quis eaque cupiditate veritatis officia harum, nemo error similique quasi. Quae, distinctio harum. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis, illo.</p>
    </div>

    <div class="tipsbox6 tips">

        <img src="https://hily.com/wp-content/uploads/2023/06/toxic-love.jpg" alt="">
        <h2>Toxic Love: Are you feeling it?</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime doloremque a explicabo consequatur quae. Ipsa delectus sed reprehenderit et tenetur vitae fuga nihil! Quidem fugit minima dolorum ullam ut ducimus impedit itaque eveniet odio praesentium? Doloremque temporibus porro similique quisquam. Lorem ipsum dolor sit amet. Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            
           </p>
    </div>


</div>


</div>



<script src="/javascripts/blog.js"></script>

<%- include("partials/footer2")%>
<%- include("partials/footer")%>

