
<link rel="stylesheet" href="/stylesheets/msgpage.css">

<%- include("partials/header")%>


<div class="pg1">
    <div class="pg1-box">
        <div class="logo">
        <h1>FINDER</h1>
        <h6><i class="ri-heart-pulse-fill"></i></h6>
        </div>

        <h2>You can't access directly to the website</h2>

        <h1>First </h1>
        <h5><a href="/login">LogIn Yourself</a> <br></h5>
    <h6>OR</h6>
    <h5><a href="/register">Register Yourself</a></h5>
            </div>
   
    
</div>
   











