<%- include("partials/header")%>

<link rel="stylesheet" href="/stylesheets/blog.css">

<div class="blogpgintro">
<h1>THE <br>CONNECTIONS</h1>
<p>Dating advice and fun ideas from our love and relationship writers. <br>
    Check out these articles and date with confidence!</p>
</div>


<div class="advicesbox">

<div class="advicenavbar">
   <a href="/blog"class="allTips" >All Tips</a>
    <a href="/datingtips" class="dating">Dating Tips</a>
    <a href="/relationshipspg" class="relationships">Relationship Advice</a>
    <a href="/lovesexpg" class="love">Love & Sex</a>
    <a href="/scienceDatingpg" class="scienceDating">Science Of Dating</a>
    <a href="/successstorypg" class="successStories">Success Stories</a>
</div>

<div class="tipsbox">
    <div class="tipsbox1 tips">
<img src="https://images.unsplash.com/photo-1460364157752-926555421a7e?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8Y291cGxlcyUyMGltYWdlc3xlbnwwfHwwfHx8MA%3D%3D" alt="">
<h2> How to focus on yourself in a relationship</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam pariatur veritatis excepturi fuga sequi. Optio voluptas magni vero repellendus consequatur, voluptate libero necessitatibus quam harum error accusantium! Molestias, nisi magnam! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam, suscipit?</p>
    </div>

    <div class="tipsbox2 tips">
        <img src="https://hashtag-dating.com/wp-content/uploads/elementor/thumbs/Virtual-Gift-Ideas-for-Online-Dating-pvtic47n6x5ore2zagqe4rst4w9mwj16rdhsse3dik.jpg" alt="">
<h2>Virtual gift ideas for your partner on  online dating</h2>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime deleniti voluptates, quam beatae totam similique officia, quo iure eos rem explicabo. Autem assumenda, ea corrupti doloribus laboriosam veniam praesentium doloremque voluptas. In sunt maiores quis error ipsam unde repellendus sit. Lorem ipsum dolor sit amet.</p>
    </div>

    <div class="tipsbox3 tips">

        <img src="https://hashtag-dating.com/wp-content/uploads/elementor/thumbs/mastering-the-art-of-dirty-talk-qanqzcj5ymnhysfg8gu35alhjqvrfupg6lbgz6fqcs.jpg" alt="">
        <h2>Mastering the Art of Dirty Talk</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat animi consequuntur eveniet delectus placeat neque ratione doloremque laudantium magnam voluptates sit aspernatur reprehenderit, quidem ipsum tenetur at cum dolor quasi enim blanditiis nihil ut, nisi assumenda eligendi! Recusandae, est. Aut! Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
    </div>

    <div class="tipsbox4 tips">

        <img src="https://hily.com/wp-content/uploads/2023/10/realizing-your-relationship-was-a-lie.jpg" alt="">
        <h2>Realizing your relationship was a lie: an action plan</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur, soluta hic, culpa voluptatum suscipit quaerat voluptatibus nesciunt rerum velit blanditiis, officiis ea at accusantium ducimus. Laborum labore nam, itaque inventore consequatur odio quibusdam est debitis rerum asperiores voluptatibus aliquid dolores. </p>
    </div>

    <div class="tipsbox5 tips">

 <img src="https://hashtag-dating.com/wp-content/uploads/elementor/thumbs/Things-You-Should-Know-Before-Dating-a-Shy-Guy-q2j05zhx6s9kqo9kcvcahwapek6s8nh7vzzh6uor3g.jpg" alt="">
        <h2>Things you should know before dating a shy guy</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt deleniti qui consequatur incidunt possimus suscipit. Nostrum ratione at porro doloremque facere corrupti non nihil impedit est minus quis eaque cupiditate veritatis officia harum, nemo error similique quasi. Quae, distinctio harum. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</p>
    </div>

    <div class="tipsbox6 tips">

        <img src="https://hily.com/wp-content/uploads/2023/10/things-you-cant-forgive-in-a-relationship.jpg" alt="">
        <h2>Things You Can’t Forgive in a Relationship</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime doloremque a explicabo consequatur quae. Ipsa delectus sed reprehenderit et tenetur vitae fuga nihil! Quidem fugit minima dolorum ullam ut ducimus impedit itaque eveniet odio praesentium? Doloremque temporibus porro similique quisquam. Lorem ipsum dolor sit amet.
            
           </p>
    </div>


</div>


</div>



<script src="/javascripts/blog.js"></script>

<%- include("partials/footer2")%>
<%- include("partials/footer")%>

