
<%- include("partials/nav")%>
<%- include("partials/header")%>

<link rel="stylesheet" href="/stylesheets/blog.css">

<div class="blogpgintro">
<h1>THE <br>CONNECTIONS</h1>
<p>Dating advice and fun ideas from our love and relationship writers. <br>
    Check out these articles and date with confidence!</p>
</div>


<div class="advicesbox">

<div class="advicenavbar">
   <a href="/blog"class="allTips" >All Tips</a>
    <a href="/datingtips" class="dating">Dating Tips</a>
    <a href="/relationshipspg" class="relationships">Relationship Advice</a>
    <a href="/lovesexpg" class="love">Love & Sex</a>
    <a href="/scienceDatingpg" class="scienceDating">Science Of Dating</a>
    <a href="/successstorypg" class="successStories">Success Stories</a>
</div>

<div class="tipsbox">
    <div class="tipsbox1 tips">
<img src="https://hashtag-dating.com/wp-content/uploads/elementor/thumbs/Mind-the-red-flags-q2jb2e6cbvfxm89ryzobxdh96g26nqb5i8juqeuzho.jpg" alt="">
<h2>Spot these red flags and stay safe dating online</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam pariatur veritatis excepturi fuga sequi. Optio voluptas magni vero repellendus consequatur, voluptate libero necessitatibus quam harum error accusantium! Molestias, nisi magnam! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam, suscipit?</p>
    </div>

    <div class="tipsbox2 tips">
        <img src="https://hashtag-dating.com/wp-content/uploads/elementor/thumbs/How-to-get-over-Your-Ex-5-scientific-tips-from-psychologists-1-px2zeeso53rhkiqdemyd4epb7ymtmj3f51p9ihmmng.jpg" alt="">
<h2>How to get over your Ex:  Tips from psychologists</h2>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime deleniti voluptates, quam beatae totam similique officia, quo iure eos rem explicabo. Autem assumenda, ea corrupti doloribus laboriosam veniam praesentium doloremque voluptas. In sunt maiores quis error ipsam unde repellendus sit. Lorem ipsum dolor sit amet.</p>
    </div>

    <div class="tipsbox3 tips">

        <img src="https://hashtag-dating.com/wp-content/uploads/elementor/thumbs/Ups-and-Downs-of-the-First-Year-of-Love-pwj810bdsaf7m5tgbtz2puo0rw48r9jk69w8vky04s.jpg" alt="">
        <h2>The ups and downs of the first year of love</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat animi consequuntur eveniet delectus placeat neque ratione doloremque laudantium magnam voluptates sit aspernatur reprehenderit, quidem ipsum tenetur at cum dolor quasi enim blanditiis nihil ut, nisi assumenda eligendi! Recusandae, est. Aut! Lorem ipsum dolor sit amet.</p>
    </div>

    <div class="tipsbox4 tips">

        <img src="https://hashtag-dating.com/wp-content/uploads/elementor/thumbs/Copy-of-blog_117_header-puiijnwphtjx9r75ioh8yar7fkkal9kribkg3fqe5o.jpg" alt="">
        <h2>What actually is love? Here’s what science says</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur, soluta hic, culpa voluptatum suscipit quaerat voluptatibus nesciunt rerum velit blanditiis, officiis ea at accusantium ducimus. Laborum labore nam, itaque inventore consequatur odio quibusdam est debitis rerum asperiores voluptatibus aliquid dolores. </p>
    </div>

    <div class="tipsbox5 tips">

 <img src="https://hashtag-dating.com/wp-content/uploads/elementor/thumbs/ghosting-product-article-pfh6b9869kcai22ozf1k7ntck1dlt1vadi9w6q2dyk.jpg" alt="">
        <h2>What is ghosting and how do I deal with it?</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt deleniti qui consequatur incidunt possimus suscipit. Nostrum ratione at porro doloremque facere corrupti non nihil impedit est minus quis eaque cupiditate veritatis officia harum, nemo error similique quasi. Quae, distinctio harum. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</p>
    </div>

    <div class="tipsbox6 tips">

        <img src="https://hashtag-dating.com/wp-content/uploads/elementor/thumbs/12-Interesting-Facts-About-Valentines-Day-You-Probably-Didnt-Know--pk7ooyzt6vnfp5swyzafqp13fammj9ynvg74de9ulo.jpg" alt="">
        <h2>Interesting facts about valentine’s day you probably didn’t know</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime doloremque a explicabo consequatur quae. Ipsa delectus sed reprehenderit et tenetur vitae fuga nihil! Quidem fugit minima dolorum ullam ut ducimus impedit itaque eveniet odio praesentium? Doloremque temporibus porro similique quisquam. Lorem ipsum dolor sit amet.
            
           </p>
    </div>


</div>


</div>


<script src="/javascripts/blog.js"></script>


<%- include("partials/footer2")%>
<%- include("partials/footer")%>

