<%- include("partials/nav")%>
<%- include("partials/header")%>
<link rel="stylesheet" href="/stylesheets/service.css">

<div class="servicepg">
<div class="overlay">
    <h1>Know About Our Services</h1>
    <p class="para">Welcome to Your Dating Website MATCH MINGLE💕💕, where we're dedicated to helping you find love and meaningful connections. Our wide range of services is designed to make your dating journey enjoyable, safe, and successful. Whether you're looking for casual dates, long-term relationships, or something in between, we've got you covered.</p>
</div>
</div>

<div class="servicepg2">
    <div class="arrow1"><i class="ri-arrow-left-s-line"></i></div>

    <div class="servicebox">
        <div class="servicebox1 box">
<img src="https://media.istockphoto.com/id/1418613616/photo/businessmans-hand-filing-online-registration-form.jpg?s=612x612&w=0&k=20&c=vWdc1AKxbr6YIxHxIBts7bCGMAxEGraLMu6V2P7hwXY=" alt="">
<h2> Profile Creation</h2>

    <h6>We believe in showcasing the real you. <br> Start by creating a captivating dating <br> profile that highlights your personality, <br> interests, and what you're looking for <br> in a partner. Our user-friendly interface  <br>makes it easy to upload photos, write  <br>a bio, and share your unique qualities.</h6>
        </div>


        <div class="servicebox2 box">
            <img src="https://media.istockphoto.com/id/1545775909/vector/cyber-security-technology-concept-shield-with-keyhole-icon-personal-data.jpg?s=612x612&w=0&k=20&c=y4iJI0OCuH81hjQgNPG67XKbnvYjybN0fcrExQY4dJo=" alt="">
<h2>  Safety and Privacy</h2>

    <h6>Your safety is our priority. We employ  <br>robust security measures and provide  <br>reporting tools to help maintain a safe <br>and respectful environment. We also <br> offer privacy controls to manage who <br> can see your profile and contact you. <br>We keep your data safe and protected.</h6>

        </div>

        <div class="servicebox3 box">
            <img src="https://www.lovepanky.com/wp-content/uploads/2019/01/relationship-advice-for-men-tips.jpg" alt="">
<h2>  Dating Tips and Advice</h2>

    <h6>Enhance your dating skills with our <br> expert dating tips and advice. Learn <br> about first-date ideas, relationship <br> building, and how to navigate the <br> challenges of online dating. We also <br> provide  sevice of how to present <br> yourself to someone.</h6>

        </div>

        <div class="servicebox4 box">
            <img src="https://www.weddingsutra.com/images/wedding-images/blog-images/palaek-kushal/palaek-kushal-img4.jpg" alt="">
<h2>  Events and Activities</h2>

    <h6>We host fun and exciting online and  <br>offline events for our members, <br>including virtual speed dating, themed <br> parties, and local meetups. It's a great  <br>way to expand your social circle and <br> meet new people. We alos organise   <br>dates for  our couples for   first meeting.</h6>
</div>

        <div class="servicebox5 box">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSgwxiZGqQNoxLO7E-Fb__VNzNJhOorfm8RGQ&usqp=CAU" alt="">
            <h2>  Success Stories</h2>
            
                <h6>Read inspiring success stories from  <br>our members who have found love  <br>and happiness through our Dating <br> Website FINDER. We're proud to be  <br>a part of their romantic journeys, and  <br>we look forward to helping you write <br> your own success story.</h6>
            </div>
    </div>
    <div class="arrow2">  <i class="ri-arrow-right-s-line"></i></div>
</div>


<script src="/javascripts/service.js"></script>
<%- include("partials/footer2")%>
<%- include("partials/footer")%>
