*{
    margin: 0;
    padding: 0;
    box-sizing:border-box; 
}
html,body{
    height: 100%;
    width: 100%;
}

.account{
    height: 8vh;
    width: 4vw;
    border-radius: 5vmax;
    /* border: 2px solid black; */
margin-left: 2vmax;
    
}
a >img{
    height: 100%;
    width: 100%;
    border-radius: 5vmax;
    object-fit: cover;
    object-position: top;
}



.navbtns{
    height: 9vh;
    width: 15vw;
    /* background-color: red; */
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
.logout{
    padding: 0.6vmax 1.3vmax;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4vmax;
    border-radius: 0.5vmax;
    border: none;
    margin-left: 1vmax;
}
.logout >a{
    text-decoration: none;
    color: black;
}

.logout:hover{
    background-color: hotpink;
   
}
.logout a:hover{
font-weight: bold;
}

.pg1{
    height: 170vh;
    width: 100%;

}
.pg1-head{
    height: 15vh;
    width: 100%;
    /* border: 2px solid black; */
}
.pg1-head >h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.7vmax;
    color: red;
    text-align: center;

}

.pg1-head >p{
font-family: serif;
font-size: 1.5vmax;
text-align: center;
font-weight: bold;

}
.peopledata{
    height: 150vh;
    width: 100%;
    /* border: 2px solid black; */
    margin-top: 0.6vmax;
   overflow-y: auto;
   padding: 0 2vmax;
   /* background-color: rgb(255,245,238); */

}
.peopledata::-webkit-scrollbar{
    display: none;
}
.card{
    height: 63vh;
    width: 21vw;
    /* border: 2px solid black; */
    border-radius: 1vmax;
    display: inline-block;
    margin: 0  1.1vmax;
    margin-top: 1.3vmax;
   padding-top: 1vmax;
 padding-left: 2vmax;
 box-shadow:  0 0 2px grey;
 /* background-color
 : white; */
 background-color: rgb(255,245,238);


}
.card:hover{
     box-shadow:  0 0 7px grey;
}
img{
    height: 25vh;
    width: 60%;
    border-radius: 1vmax;
object-fit: cover;
object-position: top;
}

span{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5vmax;
    color:hotpink;
  
}
h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3vmax;
 margin-top: 0.6vmax;
}
.know{
    padding: 0.7vmax 0.5vmax;
    font-size: 1.4vmax;
    font-family: Arial, Helvetica, sans-serif;
border: none;
    border-radius: 0.5vmax;
    background-color: black;
    margin-top: 1.4vmax;
    margin-left: 0.1vmax;
}
.know a{
color:white;
text-decoration: none;
}







